<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.microdataservice.mapper.DicInfoMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.api.po.DicInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="val" jdbcType="VARCHAR" property="val" />

  </resultMap>
  <sql id="Base_Column_List">
    id, name, category, val
  </sql>
  <select id="selectListByCategory" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from b_dic_info
    where category=#{category}
    order by id
  </select>

</mapper>